// @forward '@/assets/scss/colors' as color-*;

$contentMinWidth: 320px;
$contentMaxWidth: 1200px;

// Naming Conventions of variables is similar to BEM, but camelCase instead of PascalCase:
// $block-element--modifier
// Example: $borderRadius-forCircle--hover: 5px;

// Typography:
$fontStack-system: -apple-system, 'BlinkMacSystemFont', 'Segoe UI', 'Roboto',
  'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
  sans-serif;

$fontStack-default: 'Helvetica', $fontStack-system;

// Based on: https://medium.com/@Florian/freebie-google-material-design-shadow-helper-2a0501295a2d
// Also nice shadows: https://brumm.af/shadows
$shadow-level1: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
$shadow-level2: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
$shadow-level3: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
$shadow-level4: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
$shadow-level5: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.22);

// For drop shadow filter, divide the blur radius by 2
// box-shadow: 0 0 20px rgba(#000, 0.1)
// filter: drop-shadow(0 0 (20px / 2) rgba(#000, 0.1)

$duration--hoverIn: 0.05s;
$duration--hoverOut: 0.3s;
$duration--fast: 0.1s;
$duration--default: 0.2s;

/* stylelint-disable */
:export {
  constant: {
    duration--hoverIn: $duration--hoverIn;
  }
}
