RewriteEngine On

# Redirect all Domains (except thomasaull.de) to thomasaull.de
#RewriteCond %{HTTP_HOST} !thomasaull\.de$ [NC]
#RewriteRule ^(.*)$ https://www.thomasaull.de/$1 [L,R=301]

# Force HTTPS
#RewriteCond %{HTTPS} off
#RewriteRule (.*) https://%{HTTP_HOST}%{REQUEST_URI} [L,R=301]

# Force www.
#RewriteCond %{HTTP_HOST} !^www\. [NC]
#RewriteRule ^ https://www.%{HTTP_HOST}%{REQUEST_URI} [L,R=301]

RewriteBase /
RewriteRule ^index\.html$ - [L]
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule . /index.html [L]